body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;
}

ul {
    list-style-type: none;
}

.links {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* Part 1 (Text and Image side by side) */
.part1 {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

.part1 button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.part1 .part1-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding-bottom: 10px;
}

.part1 .part1-subtext {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}

.part1 img{
    width: 600px;
    height: 300px;
}

/* Part 2 (Cards in a row that wraps) */
.part2 {
    text-align: center;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
}

.part2-title {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.info {
    max-width: 200px;
}

.part2 img {
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

/* Part 3 */
.part3 {
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
}

.part3 .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 15px;
}

.part3 .author {
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}

/* Part 4 the block should be in center */
.part4 {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px #3882f6;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.part4 .part4-title {
    font-size: 24px;
    font-weight: bold;
}

.part4 .part4-subtext {
    font-size: 18px;
}

.part4 button {
    color: #f9faf8;
    background-color: #3882f6;
    border: solid white;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Footer */
.footer {
    color: #f9faf8;
    background-color: #1f2937;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
