body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

.links {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: black;
}

/* Part 1 (Text and Image side by side) */
.part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.part1 img{
    width: 600px;
    height: 300px;
}

/* Part 2 (Cards in a row that wraps) */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info {
    max-width: 200px;
}

.part2 img {
    width: 200px;
    border: 2px solid aqua;
}

/* Part 3 */

/* Part 4 the block should be in center */
.part4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Footer */
.footer {
    text-align: center;
}
